h1, .h1{
    margin-bottom: 0;
}

.titreChapitre{
    color: darkred;
}

.redBorder{
    border: 1px solid #f00;
}

.paragrapheVert{
    color: #aacc00;
}

#carre{
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 20px auto;
    transition: transform 1s;
}

.left{
    transform: translateX(calc(-1 * (100vw/2 - 100px)));
}
.right{
    transform: translateX(calc(100vw/2 - 100px));
}